@import "../../var.scss";
.grid-item-card {

 
  padding: 0.5rem;
  width: 150px;
}

.grid-item-book {
  display: grid;
  grid-template-rows: 240px 2rem 1rem;
}

.grid-item-thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grid-item-thumbnail:hover{




}

.grid-item-title {
  font-weight: bold;
  font-size: 1rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.grid-item-author a{
font-family: text;
  font-size: 0.9rem;
}

.grid-item-price {
  margin-top: 0.5rem;
  font-size: 1rem;

  font-weight: bold;
  color: $primary_color;
}
