
  .grid-item-card{
 
    border-radius: 20px;
   padding: 0.5rem;

   width: 150px;
    
   
   
  }



.grid-item-book{

  display: grid;

  grid-template-rows: 200px 3.1rem 1rem ;

}

  .grid-item-thumbnail{
    width: 100%; /* Largeur souhaitée du conteneur */
    height: 100%; /* Hauteur souhaitée du conteneur */
    overflow: hidden; /* Masquer tout contenu dépassant du conteneur */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
  }

  .grid-item-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Applique l'effet "cover" à l'image */
  }
  
.grid-item-title{
    font-weight: bold;
    font-size: 1rem;
    font-family: text;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden; /* Masquer tout contenu dépassant du conteneur */
    
}

.grid-item-author{

    font-family: text;
    font-size: 0.8rem;

    
}

.grid-item-price{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: title;
    color: #ff5f00;
}
  
