.cart{
  
    display: grid;
    grid-template-columns:100%;
  
}
.cart-wrapper{
    font-family: text;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.cart-card{
    display: grid;
    grid-template-columns: 25% 40% 25% 10%;
    align-items: center;
    
    background-color: rgb(223, 223, 223);
    margin-bottom: 1rem;
}

.cart-card-thumbnail{
    height: 100px;
    width: 70px;
}

.cart-card-title-title{
    font-weight: bold;
}

.cart-card-title-author{
    font-size: 0.9rem;
}

.cart-card-delete{
cursor: pointer;
}

.cart-total{
    margin: 0rem 2rem;
    background-color: rgb(223, 223, 223);
    padding: 2rem;
    font-family: text;

}

.cart-total-text{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .cart{

        grid-template-columns:50% 50%;
      
    }
  }