@import '../../var.scss';
.cart-col {
    display: grid;
    grid-template-columns: 100%;
  }
  
  .cart-wrapper {
    font-family: text;
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  
  .cart-card {
    display: grid;
    grid-template-columns: 25% 40% 25% 10%;
    align-items: center;
    background-color: $Interactive_components;
    margin-bottom: 1rem;
    font-family: text;
  
    &-thumbnail {
      height: 100px;
      width: 70px;
    }
  
    &-title {
      font-weight: bold;
      font-family: text;
    }
  
    &-author {
      font-size: 0.9rem;
      font-family: text;
    }
  
    &-delete {
      cursor: pointer;
    }
  }
  
  .cart-total {
    margin: 0rem 2rem;
    background-color: $Interactive_components;
    padding: 2rem;
    font-family: text;
  
    &-text {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
  
  .cart-submit {
    all: initial;
    background-color: $primary_color;
    margin: 2rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: text;
    font-weight: bold;
    color: white;
    cursor: pointer;

    
  }

  .cart-submit-text{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    text-align: center;
  }
  
  .cart-col-total {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .cart-empty-title {
    font-size: 1.5rem;
    padding: 1rem;
    font-family: text;
  }
  
  .cart-total-info p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .cart-bold {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .cart-total-total {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  @media screen and (min-width: 1024px) {
    .cart-col {
      grid-template-columns: 50% 50%;
    }
  }
  