header {
  background-color: rgb(255, 255, 255);
  
  position: -webkit-sticky; /* Pour une compatibilité avec Safari */
  position: sticky;
  left: 0px;
  right: 0px;
  top: 0px;
  border-bottom: 1px solid rgb(216, 216, 216);

  display: flex;
  flex-direction: column;

  z-index: 1000;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  
}
a {
  all: initial;
  cursor: pointer;
}

.header-logo {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-family: text;
}

.header-form {
    all: initial;
  border-radius: 20px;
background-color: #f6f6f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.header-form-value{
  display: flex;
}

.headre-loop img{
  width: 1.5rem;
}


.header-form-select {
  margin-left: 0.5rem;
  /* margin: 0.5rem; */
  border: none;
  outline: none;
  
  font-size: 1rem;

  background-color: #f6f6f9;
  font-family: text;
}

.header-sub{
 
  display: flex;
  padding: 0.5rem;
}



.header-form-input {
  all: initial;
  margin-left: 1rem;

  font-size: 1rem;
  background-color: #f6f6f9;
  font-family: text
  ;

}

.header-form-submit {

  all: initial;
  background-image: url('/search.png'); /* Spécifiez l'image */
  background-size: 24px 24px; /* Ajustez la taille de l'icône */
  background-repeat: no-repeat;
  background-position: 10px center; /* Ajustez la position de l'icône */

  font-size: 0.8rem;

  background-color: #ff6400;
  /* border-radius: 0px 20px 20px 0px; */
  font-family: text;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 2rem;

  


}

.header-form:hover {

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
  
  }

.header-shop{
  margin-right: 2rem;
  font-family: text;
}
.header-shop a{
 
  font-family: title;
  color: #ff6400;
}


@media screen and (min-width: 1024px) {
.header-top{
justify-content: space-between;
}
.header-form{
  width: 40%;
}
}