.sherch {
  padding: 1rem;
  &-title {
    margin: 0.5rem;
    font-family: text;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 150px);
      grid-gap: 10px;
    }
  }
}
