@import "../../var.scss";
.aside {
  width: 100%;
  font-family: text;
  &-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: text;

    align-items: center;

    img {
      width: 30px;
    }
  }
}

nav {
  ul {
    li {
      margin-left: 1rem;
      a {
        font-weight: bold;
        font-family: text;
      }
    }
  }
}
