aside {
  background-color: #f8f8fb;
  width: 100%;
}

.aside-author {
  display: flex;
  flex-direction: column;
}

.aside-author-cell {
  width: calc(100% - 50px);
  padding: 0.5rem 2rem;

  font-family: text;
  font-size: 1rem;
}

.aside-author-cell:hover {
  color: #ff5f00;
}

.aside-top-author {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: text;
  align-items: center;
}

.aside-top-author img {
  width: 30px;
}
