.book {
  margin-top: calc(60px + 2rem);
}
.book-grid {
  margin: 2rem;

  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.book-img {
  width: 100%;
}

.book-col-info {
  padding-left: 1rem;
}

.book-title {
  font-size: 1.8rem;
  font-family: text;
  font-weight: bold;
}

.book-author a{
  font-family: text;
 
 color: #ff6400;
 font-weight: bold;

}

.book-author {
margin-bottom: 1rem;

}


.book-resumer-title {
  font-size: 1.1rem;
  font-family: text;
  font-weight: bold;
}

.book-resumer-text {
  font-family: text;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.table {
  margin-top: 0.5rem;
  width: 100%;

  font-family: Arial, sans-serif;
}

.table th,
.table td {
  padding: 5px;

  border: 1px solid #ddd;
  font-family: text;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #cce0ff;
}

.book-pricecard {
  border: 1px solid #dadada;
  border-radius: 20px;
  padding: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-pricecard-price {
  font-size: 1.7rem;
  font-family: title;

  margin: 2rem;
}

.book-pricecard-stock {
  font-family: text;
}

.book-pricecard-achat {
  background-color: #ff6400;
  padding: 0.7rem;
  margin-top: 1rem;
  color: #f2f2f2;
  font-family: text;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.book-pricecard-achat:hover {
  box-shadow: none;
}

.book-return{
  margin-left: 2rem;
  font-family: text;
  cursor: pointer;
  display: flex;
  width: 70px;
  justify-content: space-between;
  color: #ff6400;
  font-weight: bold;
}
