@import "../../var.scss";
.all_books {
    padding: 1rem;
    &-title {
      margin: 0.5rem;
      font-family: text;
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    &-grid-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px;
  
      @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-gap: 10px;
      }
    }
    &-button{
      margin-top: 1rem;
     a{
      background-color: $primary_color;
      color: white;
      font-weight: bold;
      font-family: text;
      padding: 0.5rem;
      margin-right: 1rem;
      border-radius: 10px;
     }
    }
  }
  